:root {
  --bg: #121a26;
  --font-col-prim: #ecf0f1;
  --font-col-snd: #7f8c8d;
  --font-col-ter: #121a26;
  --font-col-hgl: #a8c7ff;
  --prim-col: #121a26;
  --snd-col: #1e2d3a;
  --ter-col: #ecf0f1;
  --hgl-col: #a8c7ff;
  --usr-col: #2b2c63;
  --bdr-col: #2a3a4a;
  --bdr-col-hgl: #ecf0f1;
  --hgl-col-prim: #ecf0f1;
  --hgl-col-snd: #a8c7ff;
}

.jura {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.hidden {
    display: none !important;
    pointer-events: none !important;
    user-select: none !important;
}

.text-header {
    font-size: 18px;
    font-weight: bold;
    color: var(--font-col-snd);
    margin: auto;
}
