:root {
  --bg: #121a26;
  --font-col-prim: #ecf0f1;
  --font-col-snd: #7f8c8d;
  --font-col-ter: #121a26;
  --font-col-hgl: #a8c7ff;
  --prim-col: #121a26;
  --snd-col: #1e2d3a;
  --ter-col: #ecf0f1;
  --hgl-col: #a8c7ff;
  --usr-col: #2b2c63;
  --bdr-col: #2a3a4a;
  --bdr-col-hgl: #ecf0f1;
  --hgl-col-prim: #ecf0f1;
  --hgl-col-snd: #a8c7ff;
  --online-col: lime;
  --away-col: yellow;
  --busy-col: red;
  --stealth-col: #7f8c8d;
  --offline-col: #7f8c8d;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--font-col-prim);
  display: flex;
  flex-direction: column;   
  min-height: 100vh;        
  overflow-y: auto;
}

.jura {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.title-font {
    font-size: 18px;
    color: var(--font-col-snd);
    font-weight: normal;
}

.hidden {
    display: none !important;
    pointer-events: none !important;
    user-select: none !important;
}

.text-header {
    font-size: 18px;
    font-weight: normal;
    color: var(--font-col-snd);
    margin: auto;
}

#header-container,
#footer-container {
    width: 100vw;
    height: 50px; 
    background-color: var(--bg);
}

#main-container {
    width: 100vw;
    background-color: var(--bg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}