<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/styles/chat.css">
    <!-- <script src="https://unpkg.com/htmx.org@1.9.2"></script> -->
  <title>Chat Window</title>
</head>

<body>

<div id="header-container">
    <nav></nav>
</div>

<div id="main-container">

    <div id="left-sidebar">

        <div id="siderbar-container">

            <div id="chats-header">

            <div id="new-chat-input-container">
                <input id="chat-name-input" type="text" placeholder="Type chat name..." />
                <button id="new-chat-button">+</button>
            </div>

            </div>

            <div id="chats-container">
                {{ range .Chats }}
                    <div class="chat" data-chatid="{{ .Id }}" data-adminid="{{ .AdminId }}" data-createdat="{{ .CreatedAt }}">
                        <div class="chat-name">{{ .Name }}</div>
                        <div class="chat-admin-name">{{ .AdminName }}</div>
                        <div class="chat-member-count">{{ .MemberCount }}</div>
                        <div class="chat-unread-message-count">{{ .UnreadMessageCount }}</div>
                    </div>
                {{ end }}
            </div>

        </div>

    </div>
    
    <div id="content-container">

        <div id="messages-container">

            {{ range .Messages }}
                <div class="message" data-userid="{{ .UserId }}" data-chatid="{{ .ChatId }}" data-messageid="{{ .Id }}" data-replyid="{{ .ReplyId }}">
                    <div class="message-author">{{ .Author }}</div>
                    <div class="message-createdat">{{ .CreatedAt }}</div>
                    <div class="message-lasteditat">{{ .LastEditAt }}</div>
                    <div class="message-text">{{ .Text }}</div>
                </div>
            {{ end }}

        </div>

        <div id="message-input-container">
            <input id="input" type="text" placeholder="Type your message..." />
            <button id="send-message-button">Send</button> 
        </div>

    </div>

    <div id="right-sidebar">

        <div id="right-siderbar-container">

            <div id="contact-list-header">

            <div id="add-contact-input-container">
                <input id="contact-email-input" type="text" placeholder="Type contact email..." />
                <button id="add-contact-button">+</button>
            </div>

            </div>

            <div id="contact-list-container">
                {{ range .Contacts }}
                    <div class="contact">
                        <div class="contact-name">{{ .Name }}</div>
                        <div class="contact-email">{{ .Email }}</div>
                        <div class="contact-since">{{ .KnownSince }}</div>
                        <div class="contact-status">{{ .OnlineStatus }}</div>
                    </div>
                {{ end }}
            </div>

        </div>


    </div>

</div>


<div id="footer-container"></div>

</body>
<script src="/static/scripts/config.js" defer></script>
<script src="/static/scripts/chat.js" defer></script>
</html>
