{{ define "chat-modal" }}
    <div id="chatModal" class="modal">
        <div id="chatModal-content" class="modal-content">
            <div id="chatMdl-opt" class="modal-options">
            <button id="chat-edit-btn" 
                class="modal-button"
                
                >Edit</button>
            <button id="chat-leave-btn"
                class="modal-button"
            >Leave</button>
            <button id="chat-members-btn" class="modal-button">Members</button>
            </div>
        </div>
    </div>
{{ end }}