{{ define "chat" }}
<div 
    class="chat sidebar-elem {{if eq .Chat.Id .ActiveChatId}}active{{end}} {{if .Chat.UserIsAdmin}}me{{end}}" 
    data-chatid="{{ .Chat.Id }}" 
    data-adminid="{{ .Chat.AdminId }}"
    data-createdat="{{ .Chat.CreatedAt }}"
>
    <div class="chat-header">
        <div class="chat-name">{{ .Chat.Name }}</div>
        <div class="chat-unread-message-count {{if eq .Chat.UnreadMessageCount 0 }}hidden{{end}}">{{ .Chat.UnreadMessageCount }}</div>
    </div>
    <div class="chat-footer">
    </div>
</div>
{{ end }}