{{ define "chatView" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/base/base.css">
    <link rel="stylesheet" href="/static/styles/base/dropdown.css">
    <link rel="stylesheet" href="/static/styles/base/nav.css">
    <link rel="stylesheet" href="/static/styles/base/scroll.css">
    <link rel="stylesheet" href="/static/styles/base/button-elem.css">
    <link rel="stylesheet" href="/static/styles/base/input-elem.css">
    <link rel="stylesheet" href="/static/styles/base/modal-elem.css">
    <link rel="stylesheet" href="/static/styles/base/member-modal-elem.css">
    <link rel="stylesheet" href="/static/styles/chat/base.css">
    <link rel="stylesheet" href="/static/styles/chat/chat.css">
    <link rel="stylesheet" href="/static/styles/chat/contact.css">
    <link rel="stylesheet" href="/static/styles/chat/left-sidebar.css">
    <link rel="stylesheet" href="/static/styles/chat/main-content.css">
    <link rel="stylesheet" href="/static/styles/chat/right-sidebar.css">
    <link rel="stylesheet" href="/static/styles/chat/message.css">
    <link rel="stylesheet" href="/static/styles/chat/member.css">
    <link rel="stylesheet" href="/static/styles/chat/sidebar-elem.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <title>Chat Window</title>
</head>

<body class="jura">

    <div id="header-container">
        <nav>
            <div class="dropdown">
                <a id="online-status" class="dropbtn"></a>
                <div class="dropdown-content">
                    <a href="#" onclick="ChangeOnlineStatusHandler('online')" class="online">Online</a>
                    <a href="#" onclick="ChangeOnlineStatusHandler('away')" class="away">Away</a>
                    <a href="#" onclick="ChangeOnlineStatusHandler('busy')" class="busy">Busy</a>
                    <a href="#" onclick="ChangeOnlineStatusHandler('stealth')" class="stealth">Stealth</a>
                </div>
            </div>
            <a href="/profile">{{ .User.Name }}</a>
            <a id="logout" href="/api/logout">Logout</a>
        </nav>
    </div>

    <div id="main-container">

        <div id="left-sidebar" class="scroll">

            <div id="sidebar-container">

                <div id="chats-header">
                    <div id="new-chat-input-container">
                        <input id="new-chat-input" class="input-elem" type="text" placeholder="Enter chat name..." />
                    </div>
                </div>

                <div id="chats-container">
                    {{ template "chats" . }}
                </div>

                {{ template "chat-modal" }}

            </div>

        </div>

        <div id="content-container">

            <div id="messages-container" class="scroll">
                {{ template "messages" . }}
            </div>

            {{ template "message-modal" }}

            <div id="message-input-container">
                <input id="message-input" class="input-elem" type="text" placeholder="Type your message..." />
                <button id="send-message-button" class="button-elem">Send</button>
            </div>

        </div>

        <div id="right-sidebar">

            <div id="right-siderbar-container">

                <div id="contacts-header">

                    <div id="add-contact-input-container">
                        <input id="contact-email-input" class="input-elem" type="text"
                            placeholder="Type contact email..." />
                    </div>

                </div>

                <div id="contacts-container">
                    {{ template "contacts" . }}
                </div>

                {{ template "contact-modal" }}

            </div>

        </div>

    </div>

    {{ template "member-list-modal" }}
    {{ template "member-modal" }}

    <div id="footer-container"></div>

</body>

<script src="/static/scripts/selectors/id.js" defer></script>
<script src="/static/scripts/selectors/cls.js" defer></script>
<script src="/static/scripts/selectors/data.js" defer></script>
<script src="/static/scripts/selectors/gen.js" defer></script>
<script src="/static/scripts/selectors/url.js" defer></script>
<script src="/static/scripts/funcs.js" defer></script>
<script src="/static/scripts/chat/render/animations.js" defer></script>
<script src="/static/scripts/chat/render/renderers.js" defer></script>
<script src="/static/scripts/chat/render/elements.js" defer></script>
<script src="/static/scripts/chat/api/requests.js" defer></script>
<script src="/static/scripts/chat/api/handlers.js" defer></script>
<script src="/static/scripts/chat/api/responses.js" defer></script>
<script src="/static/scripts/chat/controllers/text-input.js" defer></script>
<script src="/static/scripts/chat/controllers/modal.js" defer></script>
<script src="/static/scripts/chat/controllers/member-modal.js" defer></script>
<script src="/static/scripts/chat/controllers/member-list-modal.js" defer></script>
<script src="/static/scripts/chat/controllers/chat-modal.js" defer></script>
<script src="/static/scripts/chat/controllers/contact-modal.js" defer></script>
<script src="/static/scripts/chat/controllers/message-modal.js" defer></script>
<script src="/static/scripts/chat/controllers/new-chat.js" defer></script>
<script src="/static/scripts/chat/controllers/new-contact.js" defer></script>
<script src="/static/scripts/chat/controllers/switch-chat.js" defer></script>
<script src="/static/scripts/chat/domloaded.js" defer></script>
<script src="/static/scripts/chat/socket.js" defer></script>
<script src="/static/scripts/modals.js" defer></script>

</html>

{{ end }}