{{ define "contact-modal" }}
    <div id="contactModal" class="modal">
        <div id="contactModal-content" class="modal-content">
            <div id="contactModal-options" class="modal-options">
            <button 
                id="contact-profile-btn" 
                class="modal-button"
            >Profile</button>
            <button 
                id="contact-remove-btn" 
                class="modal-button"
            >Remove</button>
            </div>
        </div>
    </div>
{{ end }}