{{ define "contact" }}
    <div 
        class="contact sidebar-elem" 
        data-contactid="{{ .Id }}" 
        data-contactchatid="{{ .ContactChatId }}"
        hx-get="/api/chat/contact/switch?chatid={{ .ContactChatId }}"
        hx-trigger="click"
        hx-target="#messages-container"
        hx-swap="innerHTML"
        hx-on="click:
            if (this.classList.contains('active')) {
                event.preventDefault();
                event.stopImmediatePropagation();
                return;
            }
            document.querySelectorAll('.contact.sidebar-elem.active').forEach(el => el.classList.remove('active'));
            document.querySelectorAll('.chat.sidebar-elem.active').forEach(el => el.classList.remove('active'));
            this.classList.add('active');"
    >
        <div class="contact-name">{{ .Name }}</div>
        <div class="contact-email">{{ .Email }}</div>
        <div class="contact-since">{{ .KnownSince }}</div>
        <div class="contact-status">{{ .OnlineStatus }}</div>
    </div>
{{ end }}