{{ define "member-list-modal" }}
    <div id="chatMemberModal">
        <div id="memberModal-content">
            <div id="memberModal-options">
                <div id="member-list-container">
                    <div class="member">
                        <span>Member 1</span>
                        <button>Del</button>
                    </div>
                    <div class="member">
                        <span>Member 1</span>
                        <button>Del</button>
                    </div>
                </div>
            <input id="add-member-input" class="input" placeholder="Enter user email"/>
            </div>
        </div>
    </div>
{{ end }}