{{ define "message-modal" }}
    <div id="messageModal" class="modal">
        <div id="messageModal-content" class="modal-content">
            <div id="message-modal-options" class="modal-options">
            <button 
                id="edit-btn" 
                class="modal-button"
                data-action="editMessage"
            >Edit</button>
            <button
                id="msg-del-btn"
                class="modal-button"
                data-action="deleteMessage"
            >
                Delete
            </button>
            <button id="reply-btn" class="modal-button">Reply</button>
            </div>
        </div>
    </div>
{{ end }}   
