{{ define "message" }}
<!-- <div class="message {{ if eq .UserId $.UserId }}me{{ end }}"  -->
<div class="message {{ if .IsUserMessage }}me{{ end }}" 
     data-userid="{{ .UserId }}" 
     data-chatid="{{ .ChatId }}" 
     data-messageid="{{ .Id }}" 
     data-replyid="{{ .ReplyId }}">
    <div class="message-author">{{ .Author }}</div>
    <div class="message-createdat">{{ .CreatedAt }}</div>
    <div class="message-lasteditat">{{ .LastEditAt }}</div>
    <div class="message-text">{{ .Text }}</div>
</div>
{{ end }}
