* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    height: 120vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#header-container,
#footer-container {
    height: 5%;
    background-color: var(--bg);
    padding: 1rem;
}

#main-container {
    flex: 1;
    display: flex;
    overflow: hidden;
}

